body {
      font-family: Arial, sans-serif;
      padding: 15px;
      width: 260px;
      box-sizing: border-box;
}

h3 {
  margin-top: 0;
  text-decoration: underline;
}

label {
  font-size: 13px;
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  cursor: pointer;
}

#result {
  margin-top: 10px;
  font-size: 13px;
  color: green;
}

.category-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.category-box {
  background-color: orange;
  color: black;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

/* Hide default checkbox */
.category-box input {
  display: none;
}

/* Hover effect */
.category-box:hover {
  background-color: darkorange;
}

/* Selected effect */
.category-box input:checked + span {
  font-weight: bold;
}

.category-box:has(input:checked) {
  border: 2px solid black;
  background-color: peachpuff;
}


.intensity-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-top: 6px;
}

.intensity-box {
  background-color: orange;
  color: black;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

/* Hide default radio button */
.intensity-box input {
  display: none;
}

/* Hover */
.intensity-box:hover {
  background-color: darkorange;
}

/* Selected state */
.intensity-box:has(input:checked) {
  border: 2px solid black;
  background-color: peachpuff;
  font-weight: bold;
}